<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Toan Le">

  <title>Knowledge Base Manipulator</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom Icon -->
  <link href="{{url_for('static', filename='img/perception.png')}}" rel="shortcut icon">
  <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
  crossorigin="anonymous" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/resume.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile" src="{{url_for('static', filename='img/perception.png')}}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#main">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#update">Knowledge Base</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <!-- MAIN PAGE -->
    <section class="resume-section p-lg-5 align-items-center" id="main">
        <h2>LEARNING</h2>
        <div class="mb-5">
            <!-- MYPOSITION -->
            <h3 id="learning_trigger_status">...</h3>

            <button id="btn_learn" class="learn btn btn-danger
            font-weight-bold" type="button" value="learn">Learn</button>
            <button id="btn_finish_learn" class="learn btn btn-info
            font-weight-bold" type="button" value="finish_learn">Done</button>

        </div>
        <h2>INSTRUCTION SCENE</h2>
        <img id="picking_frame" src="{{ url_for('static', filename='img/picking_frame.png') }}">
    </section>

    <hr class="m-0">

    <!-- ONTOLOGY PAGE -->
    <section class="resume-section p-lg-5 align-items-center" id="update">

        <h2>INSTANCE</h2>
        <div class="container">
            <div class="row">
                <div class="d-flex mb-3 shadow">
                    <span class="input-group-text" >
                        Instance Name
                    </span>
                    <input class="bg-light text-dark" type="text"
                    id="instance_name" placeholder="eg. UR5, Kinect">
                </div>

                <div class="d-flex mb-3 ml-5">
                    <span class="input-group-text" >
                        Instance Type
                    </span>
                    <select class="custom-select bg-info text-white
                    font-weight-bold" id="instance_type">
                        <option value="Robot">Robot</option>
                        <option value="Sensor">Sensor</option>
                        <option value="Gripper">Gripper</option>
                        <option value="Object">Object</option>
                        <option value="Task">Task</option>
                     </select>
                </div>
            </div>
        </div>

        <div class="d-flex mb-3 shadow">
            <button id="btn_update" class="update btn btn-success btn-block
            font-weight-bold" type="button" value="insert">Update</button>
        </div>

        <div class="d-flex mb-5 shadow">
            <button id="btn_delete" class="update btn btn-danger btn-block
            font-weight-bold" type="button" value="delete">Delete</button>
        </div>

        <h3>DATA PROPERTIES</h3>
        <div class="container mb-4">
            <div class="row mb-3">

                <div class="d-flex mb-3 mr-5">
                    <span class="input-group-text" >
                        Instance
                    </span>
                    <select class="property_instance custom-select bg-info text-light
                    font-weight-bold" id="property_instance">
                        <option selected>Choose ...</option>
                     </select>
                </div>

                <div class="d-flex mb-3 mr-5">
                    <span class="input-group-text" >
                        Property
                    </span>
                    <select class="custom-select bg-info text-light
                    font-weight-bold" id="property_type">
                        <option selected>Choose property</option>
                        <option value="Initial_state">Initial_state</option>
                        <option value="Current_state">Current_state</option>
                        <option value="Data">Data</option>
                        <option value="Position">Position</option>
                        <option value="Status">Status</option>
                     </select>
                </div>

                <div class="d-flex mb-3 shadow">
                    <span class="input-group-text" >
                        Value
                    </span>
                    <input class="bg-light text-dark" type="text"
                    id="property_value" placeholder="Input property value">
                </div>

                <div class="d-flex mb-3 ml-5 shadow">
                    <button id="btn_update_data" class="update_data btn btn-success btn-block
                    font-weight-bold" type="button" value="update">Update</button>
                </div>
            </div>
        </div>

        <h3>OBJECT PROPERTIES</h3>
        <div class="container mb-4">
            <div class="row">
                <div class="d-flex mb-3 shadow">
                    <span class="input-group-text" >
                        Instance 1
                    </span>
                    <select class="property_instance custom-select bg-light text-dark
                    font-weight-bold" id="instance1">
                        <option selected>Choose ...</option>
                     </select>
                </div>

                <div class="d-flex mb-3 ml-5">
                    <span class="input-group-text" >
                        Relationship
                    </span>
                    <select class="object_relationship custom-select bg-info text-white
                    font-weight-bold" id="object_relationship">
                        <option selected>Choose relationship</option>
                     </select>
                </div>

                <div class="d-flex mb-3 ml-5 shadow">
                    <span class="input-group-text" >
                        Instance 2
                    </span>
                    <select class="property_instance custom-select bg-light text-dark
                    font-weight-bold" id="instance2">
                        <option selected>Choose ...</option>
                     </select>
                </div>

                <div class="d-flex mb-3 ml-5 shadow">
                    <button id="btn_update_rel" class="btn_update_rel btn btn-success btn-block
                    font-weight-bold" type="button" value="update">Update</button>
                </div>
            </div>

            <div class="row">
                <div class="d-flex mb-3 shadow">
                    <span class="input-group-text" >
                        New Relationship
                    </span>
                    <input class="bg-light text-dark" type="text"
                    id="new_relationship" placeholder="eg. left_of, right_of">
                </div>

                <div class="d-flex mb-3 ml-3 shadow">
                    <button id="btn_update_new_rel" class="btn_update_new_rel btn btn-success btn-block
                    font-weight-bold" type="button" value="update">Update</button>
                </div>

            </div>
        </div>

        <h3>MONITOR <i class="fas fa-exchange-alt"></i></h3>
        <div class="container">
            <div class="row">
                <div class="d-flex mb-3 shadow">
                    <span class="input-group-text" >
                        User Request
                    </span>
                    <span class="input-group-text text-white bg-dark"
                    id="request">...</span>
                </div>

                <div class="d-flex mb-3 ml-5 shadow">
                    <span class="input-group-text" >
                        Server Response
                    </span>
                    <span class="input-group-text text-white bg-dark"
                    id="server_response">...</span>
                </div>
            </div>
        </div>

    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static', filename='js/resume.min.js')}}"></script>

  <!-- SocketIO js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <script type="text/javascript">
    // var socket = io.connect('http://192.168.100.16:5000')
    var socket = io('http://' + document.domain + ':' + location.port)

    // Initial loading page
    socket.on("connect", function(){
        $(".property_instance").empty();
        $(".property_instance").append('<option selected>Choose ...</option>')
        $(".object_relationship").empty();
        $(".object_relationship").append('<option selected>Choose ...</option>')
        socket.emit("refresh_data")
        socket.emit("refresh_relationship")
    })

    // Server Response
    socket.on('server_response', function(msg){
        document.getElementById("server_response").innerHTML = msg
    })

    // Update Object Property
    socket.on("refresh_page", function(i){
        $(".property_instance").append('<option value="'+i+'">'+i+'</option>')
    })

    // Update Objects Relationship
    socket.on("refresh_rel_list", function(i){
        $(".object_relationship").append('<option value="'+i+'">'+i+'</option>')
    })

    // Click on INSTANCE update button
    $("button.update").click(function(){
        let name = $("#instance_name").val()
        let type = $("#instance_type").val()
        let action = $(this).val()
        socket.emit('handle_instance', {
            name: $("#instance_name").val(),
            type: $("#instance_type").val(),
            action: $(this).val()
        })
        document.getElementById("request").innerHTML = action + " " + name
        + " " + type
        $(".property_instance").empty();
        $(".property_instance").append('<option selected>Choose ...</option>')
        socket.emit("refresh_data")
    })

    // Click on DATA PROPERTY update button
    $("button.update_data").click(function(){
        let name = $("#property_instance").val()
        let value = $("#property_value").val()
        let type = $("#property_type").val()
        socket.emit('handle_data', {
            name: $("#property_instance").val(),
            value: '"' + $("#property_value").val() +  '"',
            type: $("#property_type").val()
        })
        document.getElementById("request").innerHTML = name+ " " + type
        + " " + value
    })

    // Click on OBJECT PROPERTY - choosing relationship update button
    $("button.btn_update_rel").click(function(){
        let name1 = $("#instance1").val()
        let relates = $(".object_relationship").val()
        let name2 = $("#instance2").val()
        socket.emit('handle_relationship', {
            name1: $("#instance1").val(),
            relates: $(".object_relationship").val(),
            name2: $("#instance2").val()
        })
        document.getElementById("request").innerHTML = name1+ " " + relates
        + " " + name2
        $(".object_relationship").empty();
        $(".object_relationship").append('<option selected>Choose ...</option>')
        socket.emit("refresh_relationship")
    })

    // Click on OBJECT PROPERTY - choosing relationship update button
    $("button.btn_update_new_rel").click(function(){
        let relates = $("#new_relationship").val()
        socket.emit('handle_relationship', {
            relates: $("#new_relationship").val(),
        })
        document.getElementById("request").innerHTML = "Add " + relates
        $(".object_relationship").empty();
        $(".object_relationship").append('<option selected>Choose ...</option>')
        socket.emit("refresh_relationship")
    })

    // Click on LEARN and DONE btn
    $("button#btn_learn").click(function(){
        let trigger = 1
        socket.emit('learning_trigger', {
            trigger: 1
        })
        document.getElementById("learning_trigger_status").innerHTML = "Sent trigger"
    })
    $("button#btn_finish_learn").click(function(){
        let trigger = 0
        socket.emit('learning_trigger', {
            trigger: 0
        })
        document.getElementById("learning_trigger_status").innerHTML = "Finish Learning"
    })    

  </script>

</body>

</html>
