{% extends "pages.html" %}

{% block content %}
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static', filename='js/resume.min.js')}}"></script>

  <!-- SocketIO js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <script type="text/javascript">
    // var socket = io.connect('http://192.168.100.16:5000')
    var socket = io('http://' + document.domain + ':' + location.port)

    // Initial loading page
    socket.on("connect", function(){
        $(".property_instance").empty();
        $(".property_instance").append('<option selected>Choose ...</option>')
        $(".object_relationship").empty();
        $(".object_relationship").append('<option selected>Choose ...</option>')
        socket.emit("refresh_data")
        socket.emit("refresh_relationship")
    })

    // Server Response
    socket.on('server_response', function(msg){
        document.getElementById("server_response").innerHTML = msg
    })

    // Update Object Property
    socket.on("refresh_page", function(i){
        $(".property_instance").append('<option value="'+i+'">'+i+'</option>')
    })

    // Update Objects Relationship
    socket.on("refresh_rel_list", function(i){
        $(".object_relationship").append('<option value="'+i+'">'+i+'</option>')
    })

    // Click on INSTANCE update button
    $("button.update").click(function(){
        let name = $("#instance_name").val()
        let type = $("#instance_type").val()
        let action = $(this).val()
        socket.emit('handle_instance', {
            name: $("#instance_name").val(),
            type: $("#instance_type").val(),
            action: $(this).val()
        })
        document.getElementById("request").innerHTML = action + " " + name
        + " " + type
        $(".property_instance").empty();
        $(".property_instance").append('<option selected>Choose ...</option>')
        socket.emit("refresh_data")
    })

    // Click on DATA PROPERTY update button
    $("button.update_data").click(function(){
        let name = $("#property_instance").val()
        let value = $("#property_value").val()
        let type = $("#property_type").val()
        socket.emit('handle_data', {
            name: $("#property_instance").val(),
            value: '"' + $("#property_value").val() +  '"',
            type: $("#property_type").val()
        })
        document.getElementById("request").innerHTML = name+ " " + type
        + " " + value
    })

    // Click on OBJECT PROPERTY - choosing relationship update button
    $("button.btn_update_rel").click(function(){
        let name1 = $("#instance1").val()
        let relates = $(".object_relationship").val()
        let name2 = $("#instance2").val()
        socket.emit('handle_relationship', {
            name1: $("#instance1").val(),
            relates: $(".object_relationship").val(),
            name2: $("#instance2").val()
        })
        document.getElementById("request").innerHTML = name1+ " " + relates
        + " " + name2
        $(".object_relationship").empty();
        $(".object_relationship").append('<option selected>Choose ...</option>')
        socket.emit("refresh_relationship")
    })

    // Click on OBJECT PROPERTY - choosing relationship update button
    $("button.btn_update_new_rel").click(function(){
        let relates = $("#new_relationship").val()
        socket.emit('handle_relationship', {
            relates: $("#new_relationship").val(),
        })
        document.getElementById("request").innerHTML = "Add " + relates
        $(".object_relationship").empty();
        $(".object_relationship").append('<option selected>Choose ...</option>')
        socket.emit("refresh_relationship")
    })

    // Click on LEARN and DONE btn
    $("button#btn_learn").click(function(){
        let trigger = 1
        socket.emit('learning_trigger', {
            trigger: 1
        })
        document.getElementById("learning_trigger_status").innerHTML = "Sent trigger"
    })
    $("button#btn_finish_learn").click(function(){
        let trigger = 0
        socket.emit('learning_trigger', {
            trigger: 0
        })
        document.getElementById("learning_trigger_status").innerHTML = "Finish Learning"
    })

    // Click on SHOW btn
    $("button#btn_get_task").click(function(){
        socket.emit('generate_scene', {
            instance: "DemonstrationLearning_Task",
            property: "Data",
            update: "update_tasks_tree"
        })
        document.getElementById("task_tree").innerHTML = ""
    })
    // Click on CLEAR btn
    $("button#btn_clear_task").click(function(){
        document.getElementById("task_tree").innerHTML = ""
    })
    // Click on PERFORM btn
    $("button#btn_perform_task").click(function(){
        socket.emit('perform_task', {
            instance: "DemonstrationLearning_Task",
            property: "Data"            
        })
    })
    // Update Task tree
    socket.on("update_tasks_tree", function(dataDict){
        shape = dataDict["shape"]
        var centroid = '<ul class="list-group">' +
                            '<li class="list-group-item list-group-item-secondary">x: '+dataDict['Centroid'][0]+'</li>' +
                            '<li class="list-group-item list-group-item-secondary">y: '+dataDict['Centroid'][1]+'</li>' +
                            '<li class="list-group-item list-group-item-secondary">z: '+dataDict['Centroid'][2]+'</li>' +
                        '</ul>'
        $("#task_tree").append('<li class="mb-3 list-group-item list-group-item-success" value="' + shape + '">' + shape + '</li>')
    })

    // Click on SHOW scene btn
    $("button#btn_get_scene").click(function(){
        socket.emit('generate_scene', {
            instance: "DemonstrationLearning_Task",
            property: "Current_state",
            update: "update_scene_tree"
        })
        document.getElementById("scene_tree").innerHTML = ""
    })
    // Click on CLEAR scene btn
    $("button#btn_clear_scene").click(function(){
        document.getElementById("scene_tree").innerHTML = ""
    })
    // Update scene tree
    socket.on("update_scene_tree", function(dataDict){
        shape = dataDict["shape"]
        var centroid = '<ul class="list-group">' +
                            '<li class="list-group-item list-group-item-secondary">x: '+dataDict['Centroid'][0]+'</li>' +
                            '<li class="list-group-item list-group-item-secondary">y: '+dataDict['Centroid'][1]+'</li>' +
                            '<li class="list-group-item list-group-item-secondary">z: '+dataDict['Centroid'][2]+'</li>' +
                        '</ul>'
        $("#scene_tree").append('<li class="mb-3 list-group-item list-group-item-success" value="' + shape + '">' + shape + '</li>')
    })

    // Click on INSTRUCTION image
    $("img#picking_frame").on("click", function(event) {
        let x = event.pageX - this.offsetLeft;
        let y = event.pageY - this.offsetTop;
        alert("X Coordinate: " + x + " Y Coordinate: " + y);
    });

  </script>
{% endblock %}
