{% extends "home.html" %}

{% block body %}

<form class="input-group" method="POST" action="/perception/knowleadge">

    <div class="container">
        <div class="row">
            <div class="col-sm-4 align-items-center">
                <div class="d-flex mb-3">
                    <input name="btn_object" class="btn btn-primary btn-block" type="submit" value="Observe">
                </div>

                <div class="d-flex mb-3">
                    <button name="btn_object" class="btn btn-info btn-block" type="submit" value="Update">Update</button>
                </div>

                <div class="d-flex mb-3">
                    <button name="btn_object" class="btn btn-danger btn-block" type="submit" value="Delete">Delete - not work</button>
                </div>

                <hr size=5>
                <div class="d-flex mb-3">
                    <div class="container">
                        <textarea name="ref_object" type="text" class="form-control mb-3" placeholder="Reference Object" rows="3"></textarea>
                        <input name="btn_object" class="btn btn-outline-warning btn-block" type="submit" value="Check">
                    </div>
                </div>
            </div>

            <div class="col-sm-8 d-flex justify-content-center mb-3">
                <img class=" border border-light" src="{{url_for('static', filename=image_detected)}}" style="max-width:650px;"/>
            </div>
        </div>
    </div>

    {% if names %}
    <div class="container">
        <div class="row mb-3">

            <!-- Objects collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">Objects</div>
                <ul class="list-group">
                    {% for name in names %}
                        {% if name == selected_object %}
                        <a href="/perception/knowleadge/{{ name }}" class="list-group-item list-group-item-success active">
                            <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
                        </a>
                        {% else %}
                        <a href="/perception/knowleadge/{{ name }}" class="list-group-item list-group-item-success">
                            <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Position collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">Center Position</div>
                <ul class="list-group">
                    {% if pos %}
                    <li class="list-group-item list-group-item-danger">
                        <input type="hidden" name="pos[]" value="{{ pos[0] }}"/> {{ pos[0] }}
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        <input type="hidden" name="pos[]" value="{{ pos[1] }}"/> {{ pos[1] }}
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        <input type="hidden" name="pos[]" value="{{ pos[2] }}"/> {{ pos[2] }}
                    </li>
                    {% endif %}
                </ul>
            </div>

            <!-- Actions collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">Actions</div>
                {% if selected_object %}
                <ul class="list-group">
                    <a href="/perception/knowleadge/{{ selected_object }}/{{ actions[0] }}" class="list-group-item list-group-item-primary">
                        <input type="hidden" name="handles[]" value="{{ actions[0] }}"/> Pick {{ selected_object }}
                    </a>
                    <a href="/perception/knowleadge/{{ selected_object }}/{{ actions[1] }}" class="list-group-item list-group-item-primary">
                        <input type="hidden" name="handles[]" value="{{ actions[1] }}"/> Place {{ selected_object }}
                    </a>
                </ul>
                {% endif %}
            </div>

            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">Status</div>
                {% if status %}
                <div class="jumbotron text-center" style="margin-bottom:0">
                    <p class="lead">
                        <input type="hidden" name="status[]" value="{{ status }}"/> {{ status }}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- ====////========= -->
        {% if selected_object %}
        <div class="row mb-3">

            <!-- Left collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">LEFT</div>
                <ul class="list-group">
                    {% for name in neighbors['LEFT'] %}
                        <a href="/perception/knowleadge/{{ name }}" class="list-group-item list-group-item-info">
                            <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
                        </a>
                    {% endfor %}
                </ul>
            </div>

            <!-- Right collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">RIGHT</div>
                <ul class="list-group">
                    {% for name in neighbors['RIGHT'] %}
                        <a href="/perception/knowleadge/{{ name }}" class="list-group-item list-group-item-info">
                            <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
                        </a>
                    {% endfor %}
                </ul>
            </div>

            <!-- Up collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">DOWN</div>
                <ul class="list-group">
                    {% for name in neighbors['UP'] %}
                        <a href="/perception/knowleadge/{{ name }}" class="list-group-item list-group-item-info">
                            <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
                        </a>
                    {% endfor %}
                </ul>
            </div>

            <!-- Down collume -->
            <div class="col-sm-3">
                <div class="d-flex justify-content-center bg-dark text-white font-weight-bold mb-3 border border-light">UP</div>
                <ul class="list-group">
                    {% for name in neighbors['DOWN'] %}
                        <a href="/perception/knowleadge/{{ name }}" class="list-group-item list-group-item-info">
                            <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
                        </a>
                    {% endfor %}
                </ul>
            </div>

        </div>
        {% endif %}
        <!-- ///===========//// -->
    </div>
    {% endif %}
</form>

{% endblock %}
