<?xml version="1.0" ?>
<model>
    <name>Triangle</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Toan Le</name>
        <email>ductoan.le@tuni.fi</email>
    </author>
    <description>Testing samples for Knowledge Based Manipulation project</description>
</model>
